# Operating system files
*/desktop.ini # Windows preferences
*/.DS_Store # OSX
*/.directory # KDE directory preferences

# Arduino sketches (those are to be checked in as .cpp)
*.ino

# PlatformIO
*.pio

# VScode
*/.vscode*

# Python cached bytecode
*__pycache__*

# Build output
[Dd]ebug*/
[Rr]elease*/
[Bb]uild*/
[Dd]ist*/

*.o
*.a

*.elf
*.so

*.exe
*.dll

*.hex
*.lib
*.bin

# Archives
*.gz
*.bz2
*.7z
*.zip
*.rar
*.cab

*.tmp # All sorts of temp
.vscode/LICENSE
